extends layout

block content
    case status
        when 1
            h2 Status: Supply
        when 2
            h2 Status: Working
        when 3
            h2 Status: Alarm!
    table
        tr
            td
                h3 Chiller
                table(border="1")
                    tr
                        th   No
                        th   Address
                        th   Bit
                        th   Description
                        th   Value
                    each val in alarms.chiller
                        tr
                            td= val.No
                            td= val.Address
                            td= val.Bit
                            td= val.Description
                            if val.Value==0
                                td(style='background-color:lime')= val.Value
                            else 
                                td(style='background-color:red')= val.Value
            td  
                h3 CO<sub>2</sub>
                table(border="1")
                    tr 
                        th   No
                        th   Address
                        th   Bit
                        th   Description
                        th   Value
                    each val in alarms.co2
                        tr 
                            td= val.No
                            td= val.Address 
                            td= val.Bit 
                            td= val.Description 
                            if val.Value==0
                                td(style='background-color:lime')= val.Value
                            else 
                                td(style='background-color:red')= val.Value
    a(href="/") Home
