extends layout

block content
  h1= title
  //- p Welcome to #{title}
  h2 
      a(href="marta/values") Read values
  h2
      a(href="marta/alarms") Alarms and Status
  h2
      a(href="marta/parameters") Set parameters
  div 
    span Status: 
    a(href="connect" title=tooltip) #{connected}
  br
  div 
    a(href=urlDb target="_blank") Values in database 
  br
  div 
    a(href="doc/Users_manual_for_MARTA_2.0_CMS_rev_1.2.pdf") User's Manual 

    //- a(href="exit") Quit
