extends layout

block content
    h2 Login 
    form(action= "/login/submit", method= "post")
        table 
            tr 
                td  
                    label(for="login") Login
                td 
                    <input type="text" name="login" placeholder="Login">
            tr 
                td 
                    label(for="passwd") Password 
                td 
                    <input type="password" name="passwd" placeholder="Password">
            tr 
                td(colspan="2") 
                    <input type="submit" value="Login">
