extends layout

block content
    h3 Monitor this value
    p #{Description}
    form(action= "/marta/monitorReq/"+Address, method= "get")
        label(for="period") Every 
        input(type="number" name="period" value=monitor)
        span seconds 
        button(name="yes") Yes
        button(name="no") No
