extends layout

block content
  table(width='100%')
    tr
      td
        h2 Read Values
        table(border='1')
            tr
                th #
                th Address
                th Description
                th Value
                th Unit
            each val in values
                tr
                    td= val.No
                    if  val.monitor>0
                      td(style='background-color:#cfc')
                        a(href='monitor/'+val.Address)= val.Address
                    else
                      td
                        a(href='monitor/'+val.Address)= val.Address
                    td(title=val.Obs)= val.Description
                    td(style='background-color:'+val.Color)= val.Value
                    td(style='background-color:'+val.Color)= val.Unit

      td(valign='top')
        h3 LEGEND - Chiller
        table(border='1')
          tr
            td TTxx - temperature probe
          tr
            td PTxx - pressure transmitter
          tr
            td EV1 - expansion valve
          tr
            td SV - solenoid valve
          tr
            td SG - sight glass
          tr
            td FD - filter drier
          tr
            td LR - liquid receiver
          tr
            td CP - compressor
          tr
            td CD - condenser
          tr
            td HX - heat exchanger
          tr
            td EV2 - Hot gas bypass regulator
          tr
            td EV3 - Liquid injection bypass regulator
          tr
            td PLC - controller
          tr
            td LG - Liquid - gas mixer
          tr
            td SA - suction accumulator
      td(valign='top')
        h3 LEGEND - CO<sub>2</sub>
        table(border='1')
          tr
            td FL - filter
          tr
            td LP - liquid pump
          tr
            td TTxxCO2 - temperature probe
          tr
            td PTxxCO2 - pressure transmitter
          tr
            td EV3C - CO2 by-pass regulation valve
          tr
            td RD - rupture disc
          tr
            td MV - manual valve
          tr
            td OUT - flow output
          tr
            td IN - flow input
          tr
            td F - mass flowmeter
          tr
            td EH - electric heater
            
  a(href="/") Home
